*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #222;
    color: #f3f3f3;
    display: flex;
    justify-content: space-between;
}


ul{
    list-style: none;
    display: flex;
}

li{
    justify-content: space-around;
}

main{
    display: flex;
    justify-content: center;
    background-color: #e5e5e5;
}
.envios,
.podio{
    width:400px;
    height:400px;
    justify-content: center;
    margin-top: 50px;
}

.podio{
background-color: #f3f3f3;
}

footer{
    background-color: #222;
    color: #f3f3f3;
    display: flex;
    justify-content: space-between;
}