*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #222;
    color: #f3f3f3;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 5px;
}



ul{
    list-style: none;
    display: flex;
}

li{
    justify-content: space-around;
    padding: 10px;
    margin: auto;
    cursor: pointer;
}

main{
    display: flex;
    justify-content: center;
    background-color: #e5e5e5;
}
.envios,
.podio{
    width:400px;
    height:400px;
    justify-content: center;
    margin-top: 50px;
}
.envios{
    background-image: url(/img/delivery.jpg);
    background-repeat: no-repeat;
}
.podio{
background-color: #f3f3f3;
display: flex;
}

footer{
    background-color: #222;
    color: #f3f3f3;
    display: flex;
    justify-content: space-between;
}